<div class="row col-6">
  <div class="row">
    <label for="cbf30d65" class="col-6">Текущий пароль</label>
    <input type="password" class="col-6 mb-3" id="cbf30d65" [(ngModel)]="psw_current">
  </div>
  <div class="row">
    <label for="b249d406" class="col-6">Новый пароль</label>
    <input type="password" class="col-6 mb-3" id="b249d406" [(ngModel)]="psw_new">
  </div>
  <div class="row">
    <label for="8bf10e5d" class="col-6">Подверждение нового пароля</label>
    <input type="password" class="col-6 mb-3" id="8bf10e5d" [(ngModel)]="psw_confirm">
  </div>
  <div class="row">
    <button class="mb-3 col-3 btn btn-success" (click)="OnOk()" [disabled]="(psw_new.length == 0 || psw_new !== psw_confirm)">Сменить</button>
  </div>
</div>
